.question-card-question {
  color: white;
  font-size: 20px;
  font-weight: 100;
}

.question-card-item {
  display: flex;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.question-card-answer {
  flex: 1; /* This will take the remaining width */
  font-size: 20px;
  font-weight: 100;
  color: white;
  padding-left: 50px;
}

.question-card-choice {
  width: 50px;
}
